
:root {
  --color-primary: #F5F0BB;
  --color-secondary: #C4DFAA;
  --color-tertiary: #90C8AC;
  --color-accent: #73A9AD;
}
html {
  font-family: sans-serif;
}

body{
  background-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
}
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

