:root {
  --color-0: #17181B;
  --color-1: #03045e;
  --color-2: #0077b6;
  --color-3: #00b4d8;
  --color-4: #90e0ef;
  --color-5: #caf0f8;
}

html {
    background-color: var(--color-4);
    font-family: sans-serif;
  }
  
body{
  position:fixed
}
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

