.login-button {
  background-color: var(--primary);
  font-family: source_serif_pro;
  margin: 12px;
  padding-inline: 8px;
}

.login-button:hover {
  background-color: var(--hover) !important;
  color: var(--accent) !important;
  font-family: source_serif_pro;
}

.buttonOutline {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  border-radius: 3px !important;
  margin-inline: 8px;
  width: fit-content;
}
