.response-input {
  width: 100%;
  min-height: 32px;
  height: fit-content;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--gray);
  padding: 12px;
  color: var(--secondary);
  resize: none;
}

.submit {
  background-color: var(--primary);
  font-family: source_serif_pro;
  margin: 12px;
  color: var(--background);
}

.submit:hover {
  background-color: var(--hover) !important;
  color: var(--accent) important!;
  font-family: source_serif_pro;
  margin: 12px;
}

.buttonOutline {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  border-radius: 3px !important;
  margin-inline: 8px;
  width: fit-content;
}

#responseQuoted {
  margin-bottom: 12px;
  text-align: left;
  width: 90vw;
  max-height: 200px; /* Ajusta 1.2em según el tamaño de la fuente */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Añade "..." al final del texto que se desborda */
  background-color: var(--accent); /* Color de fondo para resaltar la cita */
  border-left: 4px solid var(--gray); /* Línea vertical a la izquierda */
  padding: 10px; /* Espaciado interno */
  transform: skew(-10deg); /* Inclinación hacia la izquierda */
}

