.label {
  color: var(--primary);
  font-size: 32px;
  color: var(--primary);
  font-family: source_serif_pro;
  text-align: left;
  height: fit-content;
  line-height: 1.2;
  justify-content: end;
}

.input {
  border-radius: 6px;
  border: solid black 1px;
  padding: 6px;
  width: 90%;
}

.input-title {
  height: 64px;
}

.input-content {
  height: 256px;
}

.submit {
  width: 120px;
  font-size: 16px;
  height: fit-content;
}

.form {
  padding: 12px;
}

.submit {
  background-color: var(--primary);
  font-family: source_serif_pro;
  margin: 12px;
  color: var(--background);
}

.submit:hover {
  background-color: var(--hover) !important;
  color: var(--accent) important!;
  font-family: source_serif_pro;
  margin: 12px;
}
