---
import Layout from "@/layout/Layout.astro";
import '@/styles/global.css'
import { SignIn, SignOut } from 'auth-astro/components'
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)
/* console.log(session)
console.log(session.provider)
console.log(session?.user?.id) */


---

<Layout title="Log In">
    <div>Hola esta es la pagina para inciar sesion</div>
    {
        session ? (
            <div>
                <p>Hola, {session.user?.name}</p>
                <button id="logout">Logout</button>
            </div>
        ) : (
            <button id="login-github">Login Github</button>
            <button id="login-twitch">Login Twitch</button>
            <button id="login-google">Login Google</button>
        )
    }
</Layout>
<script>
    const { signIn, signOut } = await import("auth-astro/client")
    const loginTwitch = document.querySelector("#login-twitch") as HTMLElement
    const loginGithub = document.querySelector("#login-github") as HTMLElement
    const loginGoogle = document.querySelector("#login-google") as HTMLElement
    const logout =  document.querySelector("#logout") as HTMLElement

    if(loginGoogle) loginGoogle.onclick = () => signIn("google")
    if(loginTwitch) loginTwitch.onclick = () => signIn("twitch")
    if(loginGithub) loginGithub.onclick = () => signIn("github")
    if(logout) logout.onclick = () => signOut()


</script>
