---
const platform = "github";
const username = "gustipardo";
const today: string = new Date().getFullYear().toString();
---

<footer>

  <div style="float: left;">

      <a href="#">Terms of Use</a>
      <a href="#">Contact</a>
      <a href="#">Privacy</a>
  </div>

  <div class="fortress" style="display: inline-block;">
      <img class="fortress_image" src="/FortressLevel3.png" alt="Logo">
      <img class="fortress_hero no-hover" src="/tremendinius.png" alt="Bird">
      <img class="fortress_bird no-hover" src="/BigBird.png" alt="Hero">
      
  </div>

  <div class="copyright" style="float: right;">
      Copyright © 2022-{today} Software - all rights reserved.
  </div>

</footer>

<style>
  .copyright{
    margin-left: 26px;
    margin-right: 26px;
  }
footer{
  background-color: var(--color-primary);
  margin-top: 102px;
  margin-bottom: 26px;
  max-width: 1000px;
  border: solid 4px var(--color-accent);

  height: 32px;
}

footer a {
  margin-left: 26px;
  margin-right: 26px;

}
.fortress{
position: relative;
top: -96px;
}
.fortress_image{
  height: 120px;
  width: 120px;
}

.fortress_bird{
  height: 82px;
  width: 82px;
  position: relative;
  top: -188px;
  visibility: hidden;
  left: 64px;
  transition: visibility 6s linear 0s, left 8s;
}
.fortress_image:hover ~ .fortress_bird  {
  visibility: visible;
  left: 480px;
  transition-delay: 0s; 
}

.fortress_hero{
  transform: scaleX(-1);
  height: 82px;
  width: 82px;
  position: relative;
  top: -108px;
  visibility: hidden;
  left: -64px;
  transition: visibility 6s linear 0s, left 8s;
}
.fortress_image:hover ~ .fortress_hero  {
  visibility: visible;
  left: -380px;
  transition-delay: 0s; 
}
.no-hover {
  pointer-events: none;
}
a{
  color: var(--color-accent);
  font-weight: 600;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
</style>