---

---

<h1 class="header">
    <slot />    
</h1>


<style>
.header{ 
    font-size: 48px;
    color: var(--primary);
    font-family: Sahitya;
    border-bottom: 2px solid var(--gray);
    height: 64px;
    width: fit-content;
    text-align: center;
}

.navbar_header{ 
    font-size: 48px;
    color: var(--primary);
    font-family: Sahitya;
    height: 36px;
    width: fit-content;
    text-align: center;
}
</style>