<div class="bg-gradient-to-r from-red-500 via-blue-500 to-blue-900">
  <nav class="container mx-auto py-4">
    <ul class="flex justify-center items-center space-x-4">
      <li>
        <a class="text-white hover:text-blue-800" href="/">Caelis Chaos</a>
      </li>
      <li>
        <a class="text-gray-400 cursor-not-allowed" href="/donations">Forum</a>
      </li>
      <li>
        <a class="text-white hover:text-blue-800" href="/updates">Updates</a>
      </li>
      <li>
        <a class="text-gray-400 cursor-not-allowed" href="/Wiki">Wiki</a>
      </li>
      <li>
        <a class="text-gray-400 cursor-not-allowed" href="/Content">Content</a>
      </li>
    </ul>
  </nav>
</div>
