<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .navigation-container{
        background-color: var(--color-3);
        border-bottom: dashed 0.26em var(--color-0);
      padding: 10px 0;
      }
    </style>
  </head>


  <html lang="es">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        .navigation-container {
          background-color: var(--color3);
        }
        a{
          color: var(--color0);
        }
      </style>
    </head>
    <body>
      <div class="navigation-container p-2.5 "> <!-- Agregamos padding -->
        <nav class="container max-w-6xl py-4 mx-auto justify-center"> <!-- Centramos el contenido con mx-auto -->
          <ul class="flex justify-center items-center space-x-8">
            <li>
              <a class=" hover:text-blue-800 text-2xl" href="/">Caelis Chaos</a>
            </li>
            <li>
              <a href="/donations">Forum</a>
            </li>
            <li>
              <a href="/updates">Updates</a>
            </li>
            <li>
              <a href="/Wiki">Wiki</a>
            </li>
            <li>
              <a  href="/Content">Content</a>
            </li>
          </ul>
        </nav>
      </div>
    </body>
    </html>
    