---
import "@/styles/Navigation.css";
import SwordIcon from "@/icons/swords.astro";
---

<nav class="nav">
  <ul class="nav-list">

    <li>
      <a class="nav-list_item" href="/donations">About us</a>
    </li>
    <li>
      <a class="nav-list_item" href="/updates">Updates</a>
    </li>
    <li>
      <a class="nav-list_logo" href="/">
        <p class="nav-list_logo_text">Caelis Chaos</p>
        <SwordIcon class="nav-list_logo_icon" />
      </a>
    </li>

    <li>
      <a class="nav-list_item" href="/Wiki">Wiki</a>
    </li>
    <li>
      <a class="nav-list_item" href="/Content">Content</a>
    </li>
  </ul>
</nav>
