---
import "@/styles/Navigation.css";
import SwordIcon from "@/icons/swords.astro";
---

<nav class="nav">
  <ul class="nav-list">

    <div class="container-items-left">
      <li>
        <a class="nav-list_item" href="/donations">About us</a>
      </li>
      <li>
        <a class="nav-list_item aling-right" href="/updates">Updates</a>
      </li>
    </div>

    <li>
      <a class="nav-list_logo" href="/">
        <p class="nav-list_logo_text">Caelis Chaos</p>
        <SwordIcon class="nav-list_logo_icon" />
      </a>
    </li>

    <div class="container-items-right">
      <li>
        <a class="nav-list_item" href="/Wiki">Wiki</a>
      </li>
      <li>
        <a class="nav-list_item" href="/Content">Content</a>
      </li>
    </div>

  </ul>
</nav>
