---

---

<h2 class="title">
    <slot />    
</h2>


<style>
.title{ 
    font-size: 36px;
    color: var(--primary);
    font-family: source_serif_pro;
    border-bottom: 2px solid var(--gray);
    height: 48px;
    width: fit-content;
    text-align: center;
    margin: 24px;
}
</style>