---
import '@/styles/global.css'
import '@/styles/global.css'
const { HaveBorder=true } = Astro.props;
---

<h2 style={{ borderBottom: HaveBorder ? '2px solid var(--gray)' : 'none' }}  class="title">
    <slot />    
</h2>


<style>
.title{ 
    font-size: 36px;
    color: var(--primary);
    font-family: source_serif_pro;
    height: 48px;
    width: fit-content;
    text-align: center;
    margin: 24px;
    height: fit-content;
    line-height: 1.2; 
}
</style>