---

import BlogPost from '@/components/BlogPost.astro';
import Footer from '@/components/Footer.astro';
import Navigation from '@/components/Navigation.astro';
const { title } = Astro.props
import '@/styles/global.css'
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@/styles/global.css" />
  </head>
  <body>
    <Navigation/>
    <h1 class="dark">{title}</h1>
    <article class="text-center">
      <slot />
    </article>
    <Footer/>
  </body>
</html>
<style>
  h1, article {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
      }

    
      /* Estilo para el contenedor principal */
      div {
        text-align: center;
      }
      body, h1, p {
        color: var(--color-0); /* Color blanco */
      }
    .dark {
      color: black;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      padding-top: 20px;
    }

    article {
      text-align: center;
    }
    h1 {
  margin: 1rem 0;
  font-size: 2.5rem;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

</style>