---

import BlogPost from '@/components/BlogPost.astro';
import Footer from '@/components/Footer.astro';
import Navigation from '@/components/Navigation.astro';
const { title } = Astro.props
const allPosts = await Astro.glob("../pages/posts/*.md");
import '@/styles/global.css'
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@/styles/global.css" />
  </head>
  <body>
    <Navigation/>
    <h1 class="dark">{title}</h1>
    <article class="text-center">
      <slot />
    </article>

  </body>
</html>
<style>

</style>