---
import Footer2 from '@/components/Footer2.astro';
import Navbar from '@/components/Navbar.astro';
import ButtonOutline from "@/components/ButtonOutline"
import '@/styles/global.css'
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@/styles/global.css" />
    <link rel="icon" href="bigbird.jpg" type="image/x-icon">
  </head>
  <body>
    <Navbar />
    <article class="article">
      <slot/>
    </article>
    <div class="buttons-container">
    <ButtonOutline client:load>Previous Post</ButtonOutline>
    <ButtonOutline client:load>Next Post</ButtonOutline>
  </div>
    <Footer2 />
  </body>
</html>
<style is:global>
  .buttons-container{
    text-align: center;
  }
.article{
  padding: 20px;
  min-height: 90vh;
}
h1,h2,h3,h4,h4,h5,h6{
  color: var(--primary);
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
</style>