---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import ButtonOutline from "@/components/ButtonOutline"
import { ViewTransitions } from 'astro:transitions';
import '@/styles/global.css'
import comparePostsByDate from '@/services/comparePostsByDate';
const allPosts = await Astro.glob("../pages/posts/*.mdx");
const sortedPosts = allPosts.sort(comparePostsByDate);
console.log(sortedPosts)
---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@/styles/global.css" />
    <link rel="icon" href="bigbird.jpg" type="image/x-icon">
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <article class="article">
      <slot/>
    </article>
    <div class="buttons-container">
    <ButtonOutline sortedPosts={sortedPosts} isNext={false} client:only>Previous Post</ButtonOutline>
    <ButtonOutline sortedPosts={sortedPosts} client:only>Next Post</ButtonOutline>
  </div>
    <Footer/>
  </body>
</html>
<style is:global>
  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
  .buttons-container{
    text-align: center;
  }
.article{
  padding: 20px;
  min-height: 72vh;
  max-width: 940px;
}
h1,h2,h3,h4,h4,h5,h6{
  color: var(--primary);
}
h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
</style>